div.quiz-card, div.quiz-card li, div.quiz-card button:hover {
    background-color: #E4FFF4;
    color: black;
    border-color: #1FD489;
}

div.quiz-card button {
    background-color: #1FD489;
    color: white;
}
