div.quiz-card, div.quiz-card li, div.quiz-card button:hover {
  background-color: #E4FFF4;
  color: black;
  border-color: #1FD489;
}

div.quiz-card button {
  background-color: #1FD489;
  color: white;
}

.quiz-card {
  width: 15rem;
  height: 14rem;
}

button[disabled] {
  background-color: #e2e3e5 !important;
  color: #383d41 !important;
  border: 1px solid #d6d8db !important;
}
