<div *ngIf="sitio" class="d-flex flex-column align-items-center">

  <app-title [title]="sitio?.nombre" [subtitle]="sitio?.descripcion" class="col-md-10"></app-title>
  <!--
    <form class="d-flex flex-column" [formGroup]="quizForm" *ngIf="(quiz?.questions?.length ?? 0) > 0"
        (ngSubmit)="score()">
        <ngb-carousel [animation]="false" [interval]="0" [wrap]="false">
            <ng-template ngbSlide *ngFor="let question of quiz.questions; index as no">
                <div class="picsum-img-wrapper">
                    <app-question [question]="question" [number]="no" (setAnswer)="setAnswerValue($event)">
                    </app-question>
                    <input type="hidden" [formControlName]="question.id.toString()" />
                </div>
            </ng-template>
        </ngb-carousel>
        <button class="btn btn-success mx-auto m-4 btn-lg app-bg-light-purple" [disabled]="!quizForm.valid">Submit</button>
    </form>-->
  <ngb-carousel *ngIf="sitio.imagenes">
    <ng-template ngbSlide *ngFor="let imagen of sitio.imagenes">
      <div class="picsum-img-wrapper">
        <img [src]="imagen.url" alt="Random first slide" style="height: 400px"/>
      </div>
      <div class="carousel-caption">
      </div>
    </ng-template>
  </ngb-carousel>
  <app-title [subtitle]="sitio?.descripcionlarga" class="col-md-10"></app-title>
  <div class="card app-bg-light-green m-2" *ngIf="sitio.ofertas.length>0">
    <div class="card-body d-flex flex-column align-items-center">
      <h4 class="font-weight-normal text-center mb-3">Este sitio tiene ofertas disponibles</h4>
      <button class="btn btn-sm app-bg-green" (click)="verContactar=true">Ver las ofertas</button>
    </div>
  </div>

  <div class="card app-bg-light-red m-2" *ngIf="sitio.ofertas.length==0">
    <div class="card-body d-flex flex-column align-items-center">
      <h4 class="font-weight-normal text-center mb-3">Este sitio no tiene ofertas disponibles</h4>
    </div>
  </div>

  <div *ngIf="verContactar">
    <div *ngIf="sitio.ofertas" class="vw-75 d-flex align-items-center justify-content-center flex-wrap">
      <div *ngFor="let oferta of sitio.ofertas" class="align-self-start m-4 card quiz-card">
        <div class="card-body d-flex flex-column  flex-grow-1">
          <h5 class="card-title font-weight-bold">{{oferta.titulo}}</h5>
          <p class="card-text">${{oferta.precio}}</p>
          <p class="card-text">{{oferta.numpersonas}} personas</p>

        </div>
        <!--<ul class="list-group list-group-flush  flex-shrink-1">
            <li class="list-group-item">Questions: {{sitio.questions?.length}}</li>
            <li class="list-group-item">
                <button *ngIf="{ status: auth.loggedInStatus$ | async } as isLoggedIn" type="button"
                    [routerLink]="['/sitios', sitio.id]" class="btn btn-sm" [disabled]="!isLoggedIn.status">
                    {{ isLoggedIn.status ? 'Take Quiz' : 'Login to attempt' }}
                </button>
            </li>
        </ul>-->
        <button type="button"
                [routerLink]="['/oferta', oferta.id]" class="btn btn-sm">
          Ver mas
        </button>

      </div>
    </div>
  </div>
</div>
